<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-11thread] %-5level %-45logger{45} %-10X{state} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mitallast.queue.raft.Raft" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>